body {
    background: #EEE !important;
    overflow: hidden;
}
.card {
    background-color: #FFF;
    border: none;
    box-shadow: none !important;
}
input, a {
    background-color: #DDD;
    border: none;
    color: black;
}
button.btn-login {
    background-color: #DDD;
    border: none;
    color: black;
}
button.btn-login:hover, a:hover {
    background-color: #EEE;
}
h4, label {
    color: black;
}
.fixed-bottom-card {
    position: fixed;
    overflow: auto;
    background-color: #FFF;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}
.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
}
.captcha-container {
    display: none; /* Standardmäßig ausgeblendet */
    margin-top: 1em;
}
.captcha-container img {
    margin-bottom: 0.5em;
}
#captchaError {
    margin-bottom: 1em; /* Abstand unter der Captcha-Fehlermeldung */
}

@media(min-width: 1200px) {
    body {
        padding-right: 25vw;
    }
    .fixed-bottom-card {
        padding: 3em;
        height: 100vh;
        width: 25vw;
        min-width: 440px;
        right: 0;
        top: 0;
    }
    .fixed-bottom-card .btn {
        display: none;
    }
}

@media(max-width: 1199px) {
    body {
        padding-bottom: 25vh;
    }
    .fixed-bottom-card {
        padding: 3em 2em;
        height: 85px;
        bottom: -10px;
        left: 0;
        width: 100vw;
        transition: bottom 300ms, height 300ms;
    }
    .fixed-bottom-card.show-card {
        bottom: 0;
        height: 85vh;
    }
    .fixed-bottom-card .btn {
        position: sticky;
        top: -25px;
        margin-top: -30px;
        margin-bottom: 30px;
        z-index: 1;
    }
}